<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.">
  <title>FunkoStore</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel ="stylesheet" href="admin.component.css">

</head>

<body>
  <h1 class="text-center">EDITAR CATÁLOGO</h1>
  <button type="button" class="btn btn-primary" (click)="verReportes()">Ver reportes</button>
  <button type="button" class="btn btn-primary" (click)="modalAdd.open(contenidoAdd)">Agregar Producto</button>
  <ng-template #contenidoAdd let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Agregar producto</h4>
      <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form (ngSubmit)="formSubmitAdd()">
        <div #precio class="form-group">
          <label for="">Nombre</label>
          <input type="text" class="form-control" aria-describedby="nombre" name="nombreN"[(ngModel)]="this.funkoNuevo.nombre">
        </div>
        <div #des class="form-group">
          <label for="">Descripción</label>
          <input type="text" class="form-control" aria-describedby="descripcion" name="desN"[(ngModel)]="this.funkoNuevo.descripcion">
        </div>
        <div #precio class="form-group">
          <label for="">Precio</label>
          <input type="text" class="form-control" aria-describedby="precio" name="precioN"[(ngModel)]="this.funkoNuevo.precio">
        </div>
        <div #url class="form-group">
          <label for="">URL Imagen</label>
          <input type="text" class="form-control" aria-describedby="imagen"name="imgN"[(ngModel)]="this.funkoNuevo.imagen">
        </div>
        <input type="submit" value="Crear" class="btn btn-success">
      </form>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>
  <div class="container">
      <div class="row">
          <div class="col-12 col-md-6 col-lg-4 card" style="width: 18rem;" *ngFor="let producto of this._productoService.aFunkos">
              <img src={{producto.imagen}} width="100" height="250" class="card-img-top" alt={{producto.nombre}}>
              <div class="card-body">
                  <h5 class="card-title">{{producto.nombre}}</h5>
                  <p class="card-text">{{producto.descripcion}}</p>
                  <p class="card-text">Costo: $ {{producto.precio}}</p>
                  <button type="button" class="btn btn-danger" (click)="eliminarProducto(producto)">Eliminar</button>
                  <ng-template #contenido let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title">Editar producto</h4>
                      <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form (ngSubmit)="formSubmit(producto)">
                        <div #nDes class="form-group">
                          <label for="">Descripción</label>
                          <input type="text" class="form-control" aria-describedby="descripción" name="descrip" [(ngModel)]="this.des" >
                        </div>
                        <div #nPrecio class="form-group">
                          <label for="">Precio</label>
                          <input type="text" class="form-control" aria-describedby="precio"  name="precio" [(ngModel)]="this.precio">
                        </div>
                        <input type="submit" value="Guardar" class="btn btn-success">
                      </form>
                    </div>
                    <div class="modal-footer">
                    </div>
                  </ng-template>
                  <button type="button" class="btn btn-primary" (click)="modalEdit.open(contenido)">Editar</button>
              </div>
          </div>
      </div>
  </div>
</body>

